[theme~="dark"] {
  --lumo-primary-color-50pct: rgba(29, 185, 84, 0.5);
  --lumo-primary-color-10pct: rgba(29, 185, 84, 0.1);
  --lumo-primary-color: #1DB954;
  --lumo-base-color: hsl(214, 17%, 8%);
  --lumo-shade-5pct: rgba(28, 32, 38, 0.05);
  --lumo-shade-10pct: rgba(28, 32, 38, 0.1);
  --lumo-shade-20pct: rgba(28, 32, 38, 0.2);
  --lumo-shade-30pct: rgba(28, 32, 38, 0.3);
  --lumo-shade-40pct: rgba(28, 32, 38, 0.4);
  --lumo-shade-50pct: rgba(28, 32, 38, 0.5);
  --lumo-shade-60pct: rgba(28, 32, 38, 0.6);
  --lumo-shade-70pct: rgba(28, 32, 38, 0.7);
  --lumo-shade-80pct: rgba(28, 32, 38, 0.8);
  --lumo-shade-90pct: rgba(28, 32, 38, 0.9);
  --lumo-shade: hsl(214, 15%, 13%);
  --lumo-tint-5pct: rgba(250, 250, 250, 0.05);
  --lumo-tint-10pct: rgba(250, 250, 250, 0.1);
  --lumo-tint-20pct: rgba(250, 250, 250, 0.2);
  --lumo-tint-30pct: rgba(250, 250, 250, 0.3);
  --lumo-tint-40pct: rgba(250, 250, 250, 0.4);
  --lumo-tint-50pct: rgba(250, 250, 250, 0.5);
  --lumo-tint-60pct: rgba(250, 250, 250, 0.6);
  --lumo-tint-70pct: rgba(250, 250, 250, 0.7);
  --lumo-tint-80pct: rgba(250, 250, 250, 0.8);
  --lumo-tint-90pct: rgba(250, 250, 250, 0.9);
  --lumo-tint: hsl(214, 0%, 98%);
  --lumo-primary-text-color: #11a745;
  --lumo-primary-contrast-color: #f7f7f7;
  --lumo-header-text-color: hsl(214, 16%, 96%);
  --lumo-body-text-color: rgba(251, 249, 249, 0.9);
}
